{% extends 'nav_base.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static '/css/discovery.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Error!!
{% endblock %}

{% block body %}
<br/>
<div class="row">
    <div class="col-offset-1 col-10 col-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-xl-offset-1 col-xl-10 col-xl-offset-1">
        <h1 class="text-center">
            Error!!
        </h1>
        <br/>
        <div class="alert alert-danger" role="alert">
            {{error.txt}}
        </div>
    </div>
</div>

{% endblock body %}
