.table-collections{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.table-collections .td-check input[type="checkbox"]{
    float: left;
    margin: 0 auto;
    width: 100%;
}

#div-modify-collection-gen-uuid{
    display: none;
}